# ignore files and folders created for the eclipse project
*__pycache__/*
*.project
*.pydevproject

# ignore scrapes files
*.csv

# except these stored_scrapes files, that are used as examples
!DICT_YRITYKSEN_TIEDOT-2016_6_13--22_45_33_442982.csv
!DICT_YRITYKSEN_TIEDOT-2016_6_17--20_17_22_289413.csv
!DICT_YRITYKSEN_TIEDOT-2016_6_17--22_10_25_317054.csv
!DICT_YRITYKSEN_TIEDOT-2016_6_17--23_58_5_485909.csv