# ignore files and folders created by the eclipse project
*.project
*.pydevproject

# ignore files and folders created when running program and tests
*__pycache__/*
*test/__pycache__/*

# ignore scraped files
*scrapes/*
*speed/*